<!DOCTYPE html>

<html ng-app="drag-and-drop">

  <head lang="en">

    <meta charset="utf-8">

    <title>Drag & Drop: Multiple listsr</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

    <script src="http://code.angularjs.org/1.2.6/angular.js"></script>
    <script src="angular-dragdrop.min.js"></script>
    <script  src="http://code.angularjs.org/1.2.6/angular-animate.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" />

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">

   


    <script src="app.js"></script>

    <style>

     .animate-enter, 
.animate-leave { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-leave.animate-leave-active,
.animate-enter {
    -webkit-transform: rotateX(90deg) rotateZ(90deg);
    -moz-transform: rotateX(90deg) rotateZ(90deg);
    -ms-transform: rotateX(90deg) rotateZ(90deg);
    -o-transform: rotateX(90deg) rotateZ(90deg);
    transform: rotateX(90deg) rotateZ(90deg);
    opacity: 0;
    height: 0px;
}        

.animate-enter.animate-enter-active,
.animate-leave {
    -webkit-transform: rotateX(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateZ(0deg);
    -o-transform: rotateX(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateZ(0deg);
    opacity: 1;
    height: 30px;
}

    .btn-droppable {   }
    
    .box{border: 1px solid #ddd;height: 100px;width:100px;
    }
    .backPlay{
      background: url("clipart-carBack.png");
      background-repeat: no-repeat;
    }
    .playbox{width:50%;border: 1px solid #ddd; 
      }
    
    .semiCard{
        width: 100px;
        height: 100px;
        background: url("clipart-car1.png");
       
        border: solid #fa4 2px;
        border-radius: 4px;
        margin': 1px;
        box-shadow: 10px 10px 5px #888888;
      }


    .semiCard1{
      background-position: 0px 0px;
    }
    .semiCard2{
      background-position: -100px 0px;
    }
     .semiCard3{
      background-position: -200px 0px;
    }
    .semiCard4{
      background-position: -300px 0px;
    }

     .semiCard5{
      background-position: 0px -100px;
    }
    .semiCard6{
      background-position: -100px -100px;
    }
     .semiCard7{
      background-position: -200px -100px;
    }
    .semiCard8{
      background-position: -300px -100px;
    }
     

    .card1{width: 100px; height: 100px; border: 1px solid #dad; position:absolute; left: 150px;
    top: 350px;}
    .card2{width: 100px; height: 100px; border: 1px solid #dad; position:absolute; left: 250px;
    top: 350px;}
    .card3{width: 100px; height: 100px; border: 1px solid #dad; position:absolute; left: 350px;
    top: 450px;}
    .card4{width: 100px; height: 100px; border: 1px solid #dad; position:absolute; left: 450px;
    top: 450px;}
    .card5{width: 100px; height: 100px; border: 1px solid #dad; position:absolute; left: 550px;
    top: 450px;}
    .card6{width: 100px; height: 100px; border: 1px solid #dad; position:absolute; left: 650px;
    top: 450px;}
    .card7{width: 100px; height: 100px; border: 1px solid #dad; position:absolute; left: 450px;
    top: 350px;}
    .card8{width: 100px; height: 100px; border: 1px solid #dad; position:absolute; left: 550px;
    top: 350px;}
    .endBox{width: 100px; height: 100px; border: 1px solid #dad; position:absolute; left: 600px;
    top: 350px;}
    </style>

  </head>

  <body>

    <div ng-controller="oneCtrl">

      <div class='contentWrapper ng-cloak'>

        <div class='content'>

          <div class="row-fluid">
            <fieldset id="sliding-simple" class="playbox" >
              <legend>Game</legend>
              <table class="sliding-puzzle backPlay">
              <tr>
                  <td >
                    <div class="box" data-drop="true" ng-model='list1' data-jqyoui-options="{accept:'.semiCard:not([ng-model!=list1a])'}" jqyoui-droppable="{multiple:true}">
                      <div class="caption">
                        <div class="semiCard semiCard1" id="{{item.id}}" ng-repeat="item in list1" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
                      </div>
                    </div>
                  </td>
                  <td >
                    <div class="box" data-drop="true" ng-model='list2' data-jqyoui-options="{accept:'.semiCard:not([ng-model!=list2a])'}"  jqyoui-droppable="{multiple:true}">
                      <div class="caption">
                        <div class="semiCard semiCard2"  ng-repeat="item in list2" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list2" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
                      </div>
                    </div>
                  </td>
                  <td >
                    <div class="box" data-drop="true" ng-model='list3' data-jqyoui-options="{accept:'.semiCard:not([ng-model!=list3a])'}"  jqyoui-droppable="{multiple:true}">
                      <div class="caption">
                        <div class="semiCard semiCard3"  ng-repeat="item in list3" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list3" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
                      </div>
                    </div>
                  </td>
                  <td >
                    <div class="box" data-drop="true" ng-model='list4' data-jqyoui-options="{accept:'.semiCard:not([ng-model!=list4a])'}"  jqyoui-droppable="{multiple:true}">
                      <div class="caption">
                        <div class="semiCard semiCard4"  ng-repeat="item in list4" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list4" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
                      </div>
                    </div>
                  </td>
              </tr>
              <tr>

                

                  <td >

                    <div class="box" data-drop="true" ng-model='list5' data-jqyoui-options="{accept:'.semiCard:not([ng-model!=list5a])'}" jqyoui-droppable="{multiple:true}">

                      <div class="caption">

                        <div class="semiCard semiCard5"  ng-repeat="item in list5" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list5" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>

                      </div>

                    </div>

                  </td>

                  <td >

                    <div class="box" data-drop="true" ng-model='list6' data-jqyoui-options="{accept:'.semiCard:not([ng-model!=list6a])'}"  jqyoui-droppable="{multiple:true}">

                      <div class="caption">

                        <div class="semiCard semiCard6"  ng-repeat="item in list6" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list6" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>

                      </div>

                    </div>

                  </td>

                  <td >

                    <div class="box" data-drop="true" ng-model='list7' data-jqyoui-options="{accept:'.semiCard:not([ng-model!=list7a])'}"   jqyoui-droppable="{multiple:true}">

                      <div class="caption">
                        <div class="semiCard semiCard7"  ng-repeat="item in list7" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list7" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
                      </div>
                    </div>
                  </td>
                  <td >
                    <div class="box" data-drop="true" ng-model='list8' data-jqyoui-options="{accept:'.semiCard:not([ng-model!=list8a])'}"  jqyoui-droppable="{multiple:true}">
                      <div class="caption">
                        <div class="semiCard semiCard8"  ng-repeat="item in list8" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list8" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
                      </div>
                    </div>
                  </td>
              <tr>
              </table>
            </fieldset>
            <fieldset id="sliding-simple" >
               <legend>Menu</legend>
               <button ng-click="startGame()" >StartGame</button>
               <button ng-click="show()" >Show</button>
            </fieldset>
            </div>
            <div>
          </div>
        </div>
      </div>


      <div class="card1 btn-droppable" data-drop="true" ng-model='list1a' data-jqyoui-options="{accept:'.semiCard:not([ng-model=list1])'}"  jqyoui-droppable="{multiple:true}">
         <div class="caption image">
            <div class="semiCard semiCard1" ng-repeat="item in list1a" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1a" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
          </div>
      </div>
       <div class="card2 btn-droppable" data-drop="true" ng-model='list2a' data-jqyoui-options="{accept:'.semiCard:not([ng-model=list2])'}"  jqyoui-droppable="{multiple:true}">
         <div class="caption">
            <div class="semiCard semiCard2"   ng-repeat="item in list2a" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list2a" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
          </div>
      </div>

      <div class="card3 btn-droppable" data-drop="true" ng-model='list3a' data-jqyoui-options="{accept:'.semiCard:not([ng-model=list3])'}"  jqyoui-droppable="{multiple:true}">
         <div class="caption">
            <div class="semiCard semiCard3" ng-repeat="item in list3a" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list3a" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
          </div>
      </div>
       <div class="card4 btn-droppable" data-drop="true" ng-model='list4a' data-jqyoui-options="{accept:'.semiCard:not([ng-model=list2])'}"  jqyoui-droppable="{multiple:true}">
         <div class="caption">
            <div class="semiCard semiCard4"   ng-repeat="item in list4a" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list4a" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
          </div>
      </div>

      <div class="card5 btn-droppable" data-drop="true" ng-model='list5a' data-jqyoui-options="{accept:'.semiCard:not([ng-model=list5])'}"  jqyoui-droppable="{multiple:true}">
         <div class="caption">
            <div class="semiCard semiCard5" ng-repeat="item in list5a" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list5a" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
          </div>
      </div>
       <div class="card6 btn-droppable" data-drop="true" ng-model='list6a' data-jqyoui-options="{accept:'.semiCard:not([ng-model=list6])'}"  jqyoui-droppable="{multiple:true}">
         <div class="caption">
            <div class="semiCard semiCard6"   ng-repeat="item in list6a" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list6a" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
          </div>
      </div>

      <div class="card7 btn-droppable" data-drop="true" ng-model='list7a' data-jqyoui-options="{accept:'.semiCard:not([ng-model=list7])'}"  jqyoui-droppable="{multiple:true}">
         <div class="caption">
            <div class="semiCard semiCard7" ng-repeat="item in list7a" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list7a" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
          </div>
      </div>
       <div class="card8 btn-droppable" data-drop="true" ng-model='list8a' data-jqyoui-options="{accept:'.semiCard:not([ng-model=list8])'}"  jqyoui-droppable="{multiple:true}">
         <div class="caption">
            <div class="semiCard semiCard8"   ng-repeat="item in list8a" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list8a" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
          </div>
      </div>
       

    </div>

  </body>

</html>

